
@{
	Layout = "_EndUserLayout";
}
@{
	var Cars = ViewBag.Cars as List<Rentoo.Domain.Entities.Car>;
}
@using RM = Rentoo.Domain.Shared.Localization.Global;
@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value + Context.Request.QueryString.Value}";
    string classEn = CultureConfiguration.IsArabic ? "" : "header-en";
    string menuLeft = CultureConfiguration.IsArabic ? " direction: rtl" : " direction:ltr ";
}
<!-- Carousel Start -->
<div class="header-carousel">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/assets/img/carousel-2.jpg" class="img-fluid w-100" alt="First slide" />
                <div class="carousel-caption " style="inset-inline-start: 0;inset-inline-end: auto;">
                    <div class="container py-2">
                        <div class="row g-5">
                            <div class="col-12 fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                <div class="bg-secondary rounded p-2">
                                    <h4 class="text-white mb-4">@RM.Global.SearchAboutCar</h4>
                                    <form action="home/Search" method="get">
                                        <div class="row g-3">
                                            <div class="col-6">
                                                <select class="form-select" aria-label="Default select example" asp-items="ViewBag.CarsModel" name="Model">
                                                    <option value="">@RM.Global.SelectYourCartype</option>

                                                </select>
                                            </div>

                                            <div class="col-6">
                                                <select class="form-select" id="yearSelect" aria-label="Default select example" name="FactoryYear">
                                                    <option value="">@RM.Global.FactoryYear</option>

                                                </select>
                                            </div>
                                            
                                            <div class="col-6">
                                                <select class="form-select" aria-label="Default select example" name="Transmission">
                                                    <option value="">@RM.Global.Transmission</option>
                                                    <option value="Aotomatic">Aotomatic</option>
                                                    <option value="Manualy">Manualy</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <select class="form-select" aria-label="Default select example" asp-items="ViewBag.CarsLocation" name="Address">
                                                    <option value="">@RM.Global.Location</option>

                                                </select>
                                            </div>

                                            <div class="col-12">
                                                <button class="btn btn-light w-100 py-2">@RM.Global.Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Car categories Start -->
<div class="container-fluid categories p-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Cars <span class="text-primary">Categories</span></h1>
        </div>

            @if (Cars != null && Cars.Count > 0)
            {
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var item in Cars)
                    {

                        <div class="col">
                            <div class="card h-100">
                                <img src="..." class="card-img-top" alt="..." style="width:150px;height:150px">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Model <span style="font-size: 14px; color: red;">@item.FactoryYear</span> </h5>
                                    <ul class="list-unstyled small-text mb-2">
                                        <li class="icon-text"><i class="bi bi-people-fill"></i> @item.Seats @RM.Global.Seats | <i class="bi bi-gear-fill"></i> @item.Transmission</li>
                                        @* <li class="icon-text"><i class="bi bi-suitcase-lg-fill"></i> @item. Large bag, 1 Small bag</li> *@
                                        @* <li class="icon-text"><i class="bi bi-speedometer2"></i> 450 km per rental</li> *@
                                        <li class="icon-text"><i class="bi bi-geo-alt-fill"></i> <a href="#" class="text-decoration-none">@item.Address</a></li>
                                    </ul>
                                    <a href="#" class="btn btn-primary rounded-pill py-2 px-4">View Details</a>
                                </div>
                            </div>
                        </div>  
                    }
				</div>
			}
			
       
		</div>
        
    </div>
</div>
<!-- Car categories End -->

<script>
    const yearSelect = document.getElementById('yearSelect');
    const currentYear = new Date().getFullYear();
    for (let y = currentYear; y >= 1900; y--) {
      const option = document.createElement('option');
      option.value = y;
      option.textContent = y;
      yearSelect.appendChild(option);
    }
</script>
